@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.root {

    height: 100vh;
}

/*
.top-bar {
    display: flex;
    justify-content: center;
    font-family: 'Yanone Kaffeesatz', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    font-weight: 500;
    font-size: 5vh;
    box-sizing: border-box;
    padding-top: 1.3vh;
    height: 8vh;

}

.title {
    margin-right: auto;
    margin-left: 2rem;
}
*/

.chat-portion {
    height: 100%;
    display: grid;
    grid-template-columns: 3% 20% 77%;
    box-sizing: border-box;
}

/*Short term fix make side bar disappear on Mobile*/
@media only screen and (max-width:1100px) {
    .side-bar {
        display: none;
    }

    .Chat-Display {
        width: 100vw;
    }
}

.side-bar {
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, .125);

}

.navigation-bar {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, .125);
}

.navigation-bar-button-wrap {
    display: flex;
    flex-direction: column;
}


#user-icon {
    margin-right: 0.5rem;
}

.user-name {
    padding: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    height: 9%;
    font-family: var(--fonts);
    font-weight: bold;
    font-size: 1.5rem;
}

#user-list {
    box-sizing: border-box;
    height: 81%;
    overflow-y: auto;
    overflow-x: hidden;
}

.user {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    border-top: 1px solid rgba(0, 0, 0, .125);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.user:hover {
    background-color: #f3f3f3;
    cursor: pointer
}


.user i {
    margin-right: 0.25rem;
}

.Content {
    background-color: rgb(70, 104, 104);
    display: flex;
}

.Chat-Display {
    height: 100vh;
    box-sizing: border-box;
}

.chat-container {
    height: 90%;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
}

#Content-Name {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:  var(--fonts);
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

#message-container {
    background-color: white;
    height: 90%;
    overflow-y: auto;
    border-radius: 15px;
}

/*Other user messages*/
.message {
    margin: 1rem 3rem;
}

.messenger {
    font-size: 1.2rem;
    font-weight: 600;
}

.messenge-box {
    /*max-width*/
    display: flex;
    /*color for your own message is purple*/
    /*font color for your own message is white*/
    color: white;
    color: black;
    width: auto;
}

.message-content {
    max-width: 90%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin: 0.5rem 0rem;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: #e8e6e9;
}

/*disconnect*/
.disconnect-message {
    display: flex;
    justify-content: center;
}

/*Input Text*/

.input-area {
    box-sizing: border-box;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, .125);
}

.input-form {
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-form {
    display: grid;
    grid-template-columns: 95% 5%;
    column-gap: 1%;
    width: 100%;
    align-items: center;
}

#message-form {
    box-sizing: border-box;
    height: 70%;
    font-family: var(--fonts);
    border-radius: 15px;
    font-size: 100%;
    padding: 13px 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    outline: none;
    background-color: rgba(184, 183, 183, 0.07);
}


#Submit-message {
    font-family:  var(--fonts);
    background-color: var(--mainColour);
    box-sizing: border-box;
    height: 70%;
    color: white;
    font-size: 100%;
    font-weight: 500;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

#Submit-message:hover {
    background-color: var(--hoverColour);
}


/*Your messages*/
.user-message {
    margin: 1rem 3rem;
}

.user-messenger {
    display: flex;
    align-items: flex-end;
    justify-content: right;
    font-size: 1.2rem;
    font-weight: 600;
}

.user-messenge-box {
    /*max-width*/
    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    /*color for your own message is purple*/
    /*color for your own message is purple*/
    /*font color for your own message is white*/
    color: white;
    width: auto;
}

.user-message-content {
    max-width: 90%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin: 0.5rem 0rem;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--mainColour);
}

span {
    color: #555;
    font-weight: 400;
}


@media only screen and (max-width:1500px) {

    #chat-form {
        display: grid;
        grid-template-columns: 90% 10%;

    }
}

@media only screen and (max-width:500px) {

    #chat-form {
        display: grid;
        grid-template-columns: 80% 20%;
    }
}

.input-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;

}

#search {
    margin: 0.5rem;
    width: 90%;
    background-color: rgba(244, 244, 244, 0.54);

}