@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.root {
    --fonts: 'Roboto', Arial, Helvetica, sans-serif;
    --mainColour:#b34cb3;
    --hoverColour: #a33ea3;
}



#Error-Message {
    font-family: var(--fonts);
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
    height: 2rem;
    color: red;
}

#home-page {
    display: flex;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.wrap {
    margin: auto;
    min-width: 425px;
}

.sign-in,
.register {
    background-color: white;
    padding: 2.5rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    box-shadow: 0px 0px 62px 0px rgb(0 0 0 / 7%);
}

#register {
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;

}

.title-page {
    font-family:var(--fonts);
    font-size: 2rem;
    text-align: center;
}

.forms {
    font-family: var(--fonts);
    font-size: 1rem;
    font-weight: 500;
}

#image {
    height: 75px;
}
.login-title {
    margin: 10px 0px 20px;
    font-size: 1.5rem;
    font-weight: 600;
}

input[type=text],
input[type=password] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: var(--mainColour);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=submit]:hover {
    background-color: var(--hoverColour);
}


@media only screen and (max-width: 485px) {
    #home-page {
        display: flex;
        font-style: normal;
        height: 100vh;
        width: 100vw;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
    }

    .wrap {
        min-width: 200px;
    }
}